<template name="layout">
    <head>
        <meta charset="utf-8">
            <title>{{title}}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div id="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        {{> avatar}}
                    </div>
                    <div class="col-md-11">
                        {{> navigation}}
                    </div>
                </div>
            </div>

            <div class="container">
                {{> yield}}
            </div>
        </div>

        {{> socialIcons}}

        <!-- {{> footer}} -->
    </body>
</template>