<template name="socialIcons">
    <ul id="socialIcons" class="list-unstyled list-inline">
        <li><a href="http://linkedin.com/in/jaimievansanten" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>

        <li><a href="https://plus.google.com/u/0/102910997700996902352" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>

        <li><a href="https://twitter.com/jaimievansanten" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>

        <li><a href="https://github.com/jaimie-van-santen" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
    </ul>
</template>