

.project {
    cursor: pointer;

    &:hover {
        .well {
            box-shadow: 0 0 5px rgba(12, 147, 237, 0.9);
        }

    }

    &:active {
        .well {
            box-shadow: 0 0 5px rgba(237, 102, 12, 0.7);
        }
    }
}