<template name="portfolio">
{{title 'Portfolio'}}
    <div class="well">
        <h1>Portfolio</h1>
    </div>

    <div class="row">
    {{#if hasProjects}}
        {{#each projects}}
            <a href="{{pathFor 'project/'}}">
                <div class="project col-sm-4">
                    <img src="http://placehold.it/600x400" width="100%" height="150" alt="{{name}}" />
                    <div class="well">
                        <ul class="techniques list-inline hidden-sm hidden-xs">
                            {{#each techniques}}
                                <li>
                                    <span class="label label-default">{{name}}</span>
                                </li>
                            {{/each}}
                        </ul>
                        <h4 class="text-center">{{name}}</h4>
                    </div>
                </div>
            </a>
        {{/each}}
    {{else}}
        <div class="well">
            <h3 class="text-muted text-center">No projects to show :(</h3>
        </div>
    {{/if}}
    </div>
</template>

