<template name="portfolio">
{{title 'Portfolio'}}
    <div class="well">
        <h1 class="text-center">Portfolio</h1>
    </div>

    <div class="row">
    {{#if hasProjects}}
        {{#each projects}}
        <a href="/portfolio/{{slug}}">
            <div class="project col-sm-3 col-xs-6" data-project-id="{{_id}}">
                <img src="{{logo}}" width="100%" height="150" alt="{{name}}" style="background: #727272" />
                <span class="label label-primary align-right">{{getYear date_completed}}</span>
                <div class="well">
                    <h4 class="text-center">{{name}}</h4>
                </div>
            </div>
        </a>
        {{/each}}
    {{else}}
        <div class="well">
            <h3 class="text-muted text-center">No projects to show :(</h3>
        </div>
    {{/if}}
    </div>
</template>

