<template name="blog">
    {{title 'Blog'}}


    {{#if hasPosts}}
        {{#each posts}}
        <div class="post row well">
        <div class="col-xs-10">
            <div class="col-md-3 hidden-xs hidden-sm">
                <img src="http://placehold.it/1000x1000" alt="{{name}}" height="200" width="auto">
            </div>

            <div class="col-md-9 col-xs-12">
                <div class="row">
                    <div class="col-md-9">
                        <a href="/blog/{{slug}}" style="text-decoration:none;">
                            <h2>{{name}}</h2>
                        </a>

                        <p>{{ellipsis body}}</p>
                    </div>
                    <div class="col-md-3">
                        <small class="text-muted text-right">{{formatDateFromNow date_modified}}</small>

                        <div class="post-topics">
                            <small class="text-muted">Topic(s):</small>
                            <ul class="techniques list-unstyled">
                                {{#each techniques}}
                                    <li>
                                        <span class="label label-primary">{{name}}</span>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        {{/each}}
    {{else}}
        <div class="well">
            <h3 class="text-muted text-center">No posts to show :(</h3>
        </div>
    {{/if}}
</template>